<div id="loginPage">

  <div class="container">
    <h1>Login</h1>
    <!-- <p class="lead">Login</p> <br> -->
    <form class="" action="/login" method="post">

      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Enter username">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="password" placeholder="Password">
      </div>

      <button class="btn btn-default submit" type="submit">Submit</button>
      <a href="/survey">
        <button class="btn btn-primary cancel" type="button">Cancel</button>
      </a>

    </form>
  </div>

</div>
