<h1>Welcome {{ user.username }} to the PET STORE</h1>
<h3>Gold: {{ user.money }}</h3>
<p>{{user._id}}</p>

{{#if enoughMoney}}
	<div class="panel panel-default">
	  <form id="buyPet" class="panel-heading" action="/petStore" method="post">
	    <h3>Which wand would you like to buy?</h3>
	      <input type="radio" name="petAnimal" value="Owl" required="required"> Owl<br>
	      <input type="radio" name="petAnimal" value="Rabbit" required="required"> Rabbit<br>
	      <input type="radio" name="petAnimal" value="Cat" required="required"> Cat<br>
	      <input type="radio" name="petAnimal" value="Iguana" required="required"> Iguana<br>

	      <input type="text" name="petName" placeholder="Enter your pet's name!" required="required">

	    <button class="btn btn-default" type="submit">Buy for 100 gold</button>
	  </form>
	</div>
{{else}}
	<h4>You don't have enough money to buy a pet :(</h4>
{{/if}}
	<a href="/profile">Back to your user profile</a>

