<div class="greeting">
  <p>Welcome to the wonderful world of Harry Plopper!</p>
  <p>We see you are getting ready for school today.</p>
  <p>Please go ahead and login to the right if you already are registered.</p>
  <p>Otherwise...</p>
</div>

<div id="surveyPage">

  <h1>the Sorting Hat has a few questions for you...</h1>

  <div class="panel panel-default">
    <form id="sortingHatSurvey" class="panel-heading" action="/survey" method="post">
      <h3>1. Which of these colors do you like most?</h3>
        <input type="radio" name="color" value="thunderbird" required="required"> Yellow<br>
        <input type="radio" name="color" value="hornedSerpent" required="required"> Blue<br>
        <input type="radio" name="color" value="pukwudgie" required="required"> Green<br>
        <input type="radio" name="color" value="wampus" required="required"> Orange<br>
      <h3>2. Which of these animals do you most identify with?</h3>
        <input type="radio" name="mascot" value="thunderbird" required="required"> Hawk<br>
        <input type="radio" name="mascot" value="hornedSerpent" required="required"> Snake<br>
        <input type="radio" name="mascot" value="pukwudgie" required="required"> Porcupine<br>
        <input type="radio" name="mascot" value="wampus" required="required"> Cougar<br>
      <h3>3.  Which trait do you value the most?</h3>
        <input type="radio" name="trait" value="thunderbird" required="required"> Confidence<br>
        <input type="radio" name="trait" value="hornedSerpent" required="required"> Creativity<br>
        <input type="radio" name="trait" value="pukwudgie" required="required"> Love<br>
        <input type="radio" name="trait" value="wampus" required="required"> Bravery<br>
      <h3>4.  What do you find yourself doing in your free time?</h3>
        <input type="radio" name="freetime" value="thunderbird"> Soul searching/thinking about life questions<br>
        <input type="radio" name="freetime" value="hornedSerpent" required="required"> Making/doing things with your hands<br>
        <input type="radio" name="freetime" value="pukwudgie" required="required"> Hanging out with friends and family<br>
        <input type="radio" name="freetime" value="wampus" required="required"> Exercising/playing sports<br>
      <h3>5.  Which wizardring classes are you most interested in taking?</h3>
        <input type="radio" name="classes" value="thunderbird" required="required"> Defense Against the Dark Arts & Astronomy<br>
        <input type="radio" name="classes" value="hornedSerpent" required="required"> Charms & Potions<br>
        <input type="radio" name="classes" value="pukwudgie" required="required"> Herbology & Care of Magical Creatures<br>
        <input type="radio" name="classes" value="wampus" required="required"> Transfiguration & Alchemy<br>

      <button class="btn btn-default submit" type="submit">Submit</button>
    </form>
  </div>

</div> <!-- .survey -->