/*FONTS
font-family: 'Amatic SC', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'EB Garamond', serif;

COLORS
hsla(40, 100%, 50%, 1) gold

hsla(59, 100%, 76%, 1) paleYellow
hsla(0, 0%, 100%, 1) white
hsla(0, 0%, 0%, 1) black
*/

/* Clear fix hack */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
/*  background-color: lightblue;*/
  background: url('../images/castle/photo-1451055959797-14c0cfba1a43.jpg') no-repeat center center fixed;
  background-size: cover;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.alertYellow {
  color: hsla(59, 100%, 76%, 1); /*paleYellow*/
  font-style: italic;
}

/*////////////////////
/*INDEX.handlebars*/

#adminPage {
  margin: 20px;
  padding: 10px 20px;
/*  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;*/
/*  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
/*  color: hsla(0, 0%, 100%, 1); /*white*/
}
  #adminPage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 10px 0 15px 0;
  }
  #adminPage .panel-heading {
    border-radius: 5px;
    border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
    margin: 10px;
    width: 80%;
    padding: 10px;
    height: 30px;
    background-color: hsla(0, 0%, 0%, .6); /*black*/
  }
  #adminPage a {
    color: hsla(0, 0%, 100%, 1); /*white*/;
  }

/*////////////////////
/*DEFAULT.handlebars*/

.schoolName {
  font-family: 'Amatic SC', cursive;
  font-size: 44px;
  color: black;
/*  font-weight: bold;
    transition: font-weight 1.5s ease;  */
}

.navbar {
  width: 99%;
  height: 54px;
  background-color: hsla(0, 0%, 100%, .6); /*white*/
  margin: 0 0 20px 0;
  padding-left: 1%;
}
  .navbar-right {
    float: right;
    margin: -56px 0 0 0;
  }
  .navbar ul li {
    display: inline;
    padding: 12px;
    border-left: 2px solid hsla(0, 0%, 100%, .6); /*white*/
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 28px;
    font-weight: bold;
      transition: background-color 1s ease;   
  }
    .navbar ul li:hover {
        background-color: hsla(0, 0%, 100%, 1); /*white*/
      }
  .navbar a {
    color: hsla(0, 0%, 0%, 1); /*black*/
  }

/*////////////////////
/*SURVEY.handlebars*/

.greeting {
  margin: 20px;
}

#surveyPage {
  width: 60%;
  margin: 0 20%;
  padding: 10px 20px;
  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
}
  #surveyPage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 10px 0 15px 0;
  }
  #surveyPage h3 {
    font-size: 24px;
    margin-top: 10px;
}

.panel {
}

.submit {
  background-color: hsla(0, 0%, 100%, 0); /*transparent*/
  font-family: 'Amatic SC', cursive;
  margin: 10px;
  width: 100px;
  border: 2px solid hsla(0, 0%, 100%, 1); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
  font-size: 28px;
  font-weight: bold;
    transition: background-color 1s ease;   
}
  .submit:hover {
    background-color: hsla(0, 0%, 100%, .6); /*white*/
  }

/*////////////////////
/*LOGIN.handlebars*/

#loginPage {
  width: 60%;
  margin: 0 20%;
  padding: 10px 20px;
/*  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;*/
  background-color: hsla(0, 0%, 0%, .6); /*black*/
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
  text-align: center;
}
  #loginPage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 0 0 15px 0;
  }

.cancel {
  background-color: hsla(0, 0%, 100%, 0); /*transparent*/
  font-family: 'Amatic SC', cursive;
  margin: 10px;
  width: 100px;
  border: 2px solid red;
  color: red;
  font-size: 28px;
  font-weight: bold;
    transition: background-color 1s ease;   
}
  .cancel:hover {
    background-color: hsla(0, 0%, 100%, .6); /*white*/
  }

input[type="text"] {
  color: hsla(0, 0%, 0%, 1); /*black*/
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 210px;
}
  input[type="text"]:focus {
    background-color: hsla(59, 100%, 76%, 1); /*paleYellow*/
  }

/*////////////////////
/*REGISTER.handlebars*/

#registerPage {
  width: 60%;
  margin: 0 20%;
  padding: 10px 20px;
/*  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;*/
  background-color: hsla(0, 0%, 0%, .6); /*black*/
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
  text-align: center;
}
  #registerPage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 0 0 15px 0;
  }
  #registerPage input[type="radio"] {
    margin-bottom: 15px;
  }

/*////////////////////
/*PROFILE.handlebars*/

#profilePage {
  margin: 20px;
  width: 80%;
  padding: 10px 20px;
  height: 235px;
/*  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;*/
  background-color: hsla(0, 0%, 0%, .6); /*black*/
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
}
  #profilePage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 0 0 15px 0;
  }
  #profilePage img {
    height: 100px;
    width: 100px;
  }

.col-1 {
 float: left;
 width: 30%;
 padding-top: 5px;
}
  .col-1 p {
    font-size: 12px;
  }

.col-2 {
  margin-left: 5%;
  float: left;
  width: 65%;
  font-size: 16px;
}
  .col-2 button {
    font-size: 20px;
    margin-left: 1px;
  }

.col-3 {
  margin: 20px;
  width: 92%;
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  height: 600px;
  padding: 25px 10px 0 10px;
/*  position: relative;
  top: -280px;
  padding-left: 50%;*/
  text-align: center;
}
  .thunderbirdBkgd {
    background: url('../images/houses/thunderbird/801126630.jpg') no-repeat center center;
    background-size: cover;
  }
  .hornedSerpentBkgd {
    background: url('../images/houses/hornedSerpent/snake-208585_960_720.jpg') no-repeat center center;
    background-size: cover;
  }
  .pukwudgieBkgd {
    background: url('../images/houses/pukwudgie/porcupine.jpg') no-repeat center center;
    background-size: cover;
  }
  .wampusBkgd {
    background: url('../images/houses/wampus/photo-1472496175377-b5d7625d4ba9.jpg') no-repeat center center;
    background-size: cover;
  }
  .col-3 a {
    background-color: hsla(0, 0%, 100%, 0); /*transparent*/
    font-family: 'Amatic SC', cursive;
    margin: 1000px 10px 100px 10px;
    width: 100px;
    border: 2px solid hsla(0, 0%, 100%, 1); /*white*/
    color: hsla(0, 0%, 100%, 1); /*white*/
    font-size: 28px;
    font-weight: bold;
    padding: 1px;
      transition: background-color 1s ease;   
  }
    .col-3 a:hover {
      background-color: hsla(0, 0%, 100%, .6); /*white*/
    }

.gold {
  color: hsla(40, 100%, 50%, 1); /*gold*/
}

/*////////////////////
/*STORE petStore.handlebars & wandShop.handlebars*/

#storePage {
  margin: 20px;
  width: 80%;
  padding: 10px 20px;
/*  background: url('../images/photo-1472865804976-0f613072a495.jpg') no-repeat center center;
  background-size: cover;*/
  background-color: hsla(0, 0%, 0%, .6); /*black*/
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 100%, .6); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
}
  #storePage h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    margin: 0 0 15px 0;
  }

.submitB {
  background-color: hsla(0, 0%, 100%, 0); /*transparent*/
  font-family: 'Amatic SC', cursive;
  margin: 10px;
  padding: 0 10px;
  border: 2px solid hsla(0, 0%, 100%, 1); /*white*/
  color: hsla(0, 0%, 100%, 1); /*white*/
  font-size: 28px;
  font-weight: bold;
    transition: background-color 1s ease;   
}
  .submitB:hover {
    background-color: hsla(0, 0%, 100%, .6); /*white*/
  }

.cancelB {
  background-color: hsla(0, 0%, 100%, 0); /*transparent*/
  font-family: 'Amatic SC', cursive;
  margin: 20px 0 10px 6px;
  padding: 0 10px;
  border: 2px solid red;
  color: red;
  font-size: 28px;
  font-weight: bold;
    transition: background-color 1s ease;   
}
  .cancelB:hover {
    background-color: hsla(0, 0%, 100%, .6); /*white*/
  }

